<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.anchor.activities"
    android:versionCode="1"
    android:versionName="1.4.2">

    <!-- Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.location.GPS_ENABLED_CHANGE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />


    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name="com.anchor.App.AppController"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/mlogo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.soundcloud.android.crop.CropImageActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <!--
            <activity android:name="com.simplelogic.activities.UploadActivity"
             android:label="@string/app_name"
            android:screenOrientation="portrait" />
        -->

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".Video_Main_List"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VIDEO_DIALOG"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />

        <activity
            android:name=".Stock_options"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.Dialog"
            />

        <activity
            android:name=".Stock_Product_Options"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.Dialog" />

        <!-- <activity -->
        <!-- android:name="com.simplelogic.activities.MenuScreenActivity" -->
        <!-- android:label="@string/app_name" > -->


        <!-- </activity> -->

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BasicMapDemoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Test"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <!--
        <activity
            android:name="com.simplelogic.activities.Home"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        -->

        <activity
            android:name=".PreviousOrderActivity_New"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <!--
        <activity
            android:name="info.androidhive.camerafileupload.UploadActivity"
            android:screenOrientation="portrait" >
        </activity>
        -->

        <activity
            android:name=".NewOrderActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <!--
            <activity
            android:name="com.simplelogic.fragments.EditOrderItems"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
               </activity>
        -->
        <activity
            android:name=".EditSwipeOrderItems"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NoOrderActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <!--
            <activity
            android:name="com.simplelogic.fragments.PreviewOrderActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
             </activity>
        -->
        <activity
            android:name=".CaptureSignature"
            android:label="@string/app_name" />
        <activity
            android:name=".ReturnOrderActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PreviousOrderActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PreviewOrderSwipeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <!--
            <activity
            android:name="com.simplelogic.activities.CalendarFragment"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            </activity>
        -->
        <activity
            android:name="com.anchor.slidingmenu.CalendarAct"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Calendar_Event"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".List_Events"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Customer_Service"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Customer_Feed"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Customer_Stock"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Today_Tabber"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Expenses"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Target"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Schedule"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Schedule1"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Schedule2"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Order"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Sales_Dash"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Filter_List"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ExpandFilter"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Invoice_filterList"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".New_filterList"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Address_activity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AndroidGPSTrackingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Nearest_Customer"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".Item_Edit_Activity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".Sound_Act"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.Dialog"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".Calender_ReadonlyView"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Status_Act"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Status_Activity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Previous_Order"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ReturnOrder_Customer"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Previous_returnOrder"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ReturnOrder1"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ReturnOrder2"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ReturnOrder3"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ReturnEditItem"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Pricing_Main"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".Stock_Main"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".Expended_List_Main"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Youtube_Player_Activity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Schedule_List"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Image_Gellary"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AllOrders_Sync"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".Previous_orderNew_S1"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Previous_orderNew_S2"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Previous_orderNew_S3"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".Previous_Item_Edit_Activity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">

        </activity>

        <activity
            android:name=".Survey_Main"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">

        </activity>

        <activity
            android:name=".Survey_Home"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">

        </activity>

        <activity
            android:name=".Marketing"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">

        </activity>

        <activity
            android:name=".Contact_Us"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">

        </activity>

        <activity
            android:name=".About_Metal"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">

        </activity>

        <activity
            android:name=".SDcard_imageMain"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">

        </activity>

        <activity
            android:name=".SDcard_VideoMain"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">

        </activity>

        <activity
            android:name=".Target_REYC_Main"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">

        </activity>

        <activity
            android:name=".Target_REYCLE"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">

        </activity>

        <activity
            android:name=".Webview_Activity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />


        <activity
            android:name=".Customer_info_main"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".Target_Summary1"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".Target_Summary2"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".Expended_list_demo"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".Forget_Pwd"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".Sound_Setting"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">

        </activity>

        <receiver android:name=".AutoStart">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".MyService"
            android:enabled="true" />

        <!--
         <service android:name=".LocationService" />

                <receiver android:name="SendLocation">
              <intent-filter>
		        <action android:name="android.intent.action.BOOT_COMPLETED">
		        </action>
		     </intent-filter>

         </receiver>

            <service android:name="com.simplelogic.service.LocationServices" android:enabled="true"></service>
        -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBMkkJmnBQPEZXIU3UiTprkTLxFS7zz5oU" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>