<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.anchor.activities">
    <!-- Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"
        android:protectionLevel="signature" />
    <uses-permission
        android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"
        android:protectionLevel="signature" />
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        android:protectionLevel="signature" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        android:protectionLevel="signature" />
    <uses-permission
        android:name="android.location.GPS_ENABLED_CHANGE"
        android:protectionLevel="signature" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission
        android:name="android.permission.RECEIVE_BOOT_COMPLETED"
        android:protectionLevel="signature" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:protectionLevel="signature" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:protectionLevel="signature" />
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        android:protectionLevel="signature" />

    <uses-feature
        android:name="android.hardware.camera"
        android:protectionLevel="signature" />

    <uses-permission
        android:name="android.permission.CAMERA"
        android:protectionLevel="signature" />
    <uses-permission
        android:name="android.permission.CALL_PHONE"
        android:protectionLevel="signature" />
    <uses-permission
        android:name="android.permission.WAKE_LOCK"
        android:protectionLevel="signature" />
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE"
        android:protectionLevel="signature" />
    <uses-permission
        android:name="android.permission.RECORD_AUDIO"
        android:protectionLevel="signature" />
    <uses-permission
        android:name="cpm.simplelogic.helper.DataProvider.READ_DATABASE"
        android:protectionLevel="signature" />
    <uses-permission
        android:name="cpm.simplelogic.helper.DataProvider.WRITE_DATABASE"
        android:protectionLevel="signature" />

    <application
        android:name="com.anchor.App.AppController"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/anchor_logo"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">

        <uses-library android:name="org.apache.http.legacy" android:required="false" />



        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.soundcloud.android.crop.CropImageActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <!--
            <activity android:name="com.simplelogic.activities.UploadActivity"
             android:label="@string/app_name"
            android:screenOrientation="portrait" />
        -->
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".Video_Main_List"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VIDEO_DIALOG"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".Stock_options"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.Dialog" />
        <activity
            android:name=".Stock_Product_Options"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.Dialog" /> <!-- <activity -->
        <!-- android:name="com.simplelogic.activities.MenuScreenActivity" -->
        <!-- android:label="@string/app_name" > -->
        <!-- </activity> -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BasicMapDemoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Test"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <!--
        <activity
            android:name="com.simplelogic.activities.Home"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        -->
        <activity
            android:name=".PreviousOrderActivity_New"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <!--
        <activity
            android:name="info.androidhive.camerafileupload.UploadActivity"
            android:screenOrientation="portrait" >
        </activity>
        -->
        <activity
            android:name=".NewOrderActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <!--
            <activity
            android:name="com.simplelogic.fragments.EditOrderItems"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
               </activity>
        -->
        <activity
            android:name=".EditSwipeOrderItems"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NoOrderActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <!--
            <activity
            android:name="com.simplelogic.fragments.PreviewOrderActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
             </activity>
        -->
        <activity
            android:name=".CaptureSignature"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".SubDealer_Signature_Activity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".SubDealer_PreviewActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ReturnOrderActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PreviousOrderActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PreviewOrderSwipeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <!--
            <activity
            android:name="com.simplelogic.activities.CalendarFragment"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            </activity>
        -->
        <activity
            android:name="com.anchor.slidingmenu.CalendarAct"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Calendar_Event"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".List_Events"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Customer_Service"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Customer_Feed"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Customer_Stock"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Today_Tabber"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Expenses"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Target"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Schedule"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Schedule1"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Schedule2"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Order"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".Sales_Dash"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Filter_List"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ExpandFilter"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Invoice_filterList"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".New_filterList"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Address_activity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AndroidGPSTrackingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Nearest_Customer"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Item_Edit_Activity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".Sub_Dealer_Item_Edit"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".Sound_Act"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.Dialog"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Calender_ReadonlyView"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Status_Act"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Status_Activity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Previous_Order"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ReturnOrder_Customer"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Previous_returnOrder"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ReturnOrder1"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ReturnOrder2"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ReturnOrder3"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ReturnEditItem"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Pricing_Main"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Stock_Main"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Expended_List_Main"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Youtube_Player_Activity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Schedule_List"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Image_Gellary"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AllOrders_Sync"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Previous_orderNew_S1"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Previous_orderNew_S2"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Previous_orderNew_S3"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Previous_Item_Edit_Activity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Survey_Main"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Sub_Dealer_Order_Main"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".Sub_Dealer_ProductList"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SubDealer_NewOrderActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />



        <activity
            android:name=".Promotion_Activity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".Survey_Home"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Marketing"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Contact_Us"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".About_Metal"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SDcard_imageMain"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SDcard_VideoMain"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Target_REYC_Main"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Target_REYCLE"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Webview_Activity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".Customer_info_main"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Target_Summary1"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Target_Summary2"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Expended_list_demo"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Forget_Pwd"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Sound_Setting"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ProductAll_Varients"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Preorder_Proall_Varient"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SubDealer_Home"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SubDealer_Detail1"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Customer_Invoices"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Customer_Schemes"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Electrician_Map"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".CustomerServicesActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Previous_Customer_Services"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".NewMarketingToolActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ComplaintsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".OutstandingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".OutstandingDetails"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".OtherInfoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Scheme_Filter_Activity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Scheme_EarningSummary"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Scheme_Details"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Customer_Schemes_New"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Ledger_Report"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Invoices"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" />

        <receiver android:name=".AutoStart">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".MyService"
            android:enabled="true" />
        <service
            android:name="cpm.simplelogic.helper.OnClearFromRecentService"
            android:stopWithTask="false" />

        <provider
            android:name="cpm.simplelogic.helper.DataProvider"
            android:authorities="cpm.simplelogic.helper.ContentProviderData"
            android:exported="true"
            android:grantUriPermissions="true" />
        <provider
            android:name="cpm.simplelogic.helper.DataProvider_City"
            android:authorities="cpm.simplelogic.helper.ContentProviderData_City"
            android:exported="true" />
        <provider
            android:name="cpm.simplelogic.helper.DataProvider_States"
            android:authorities="cpm.simplelogic.helper.ContentProviderData_State"
            android:exported="true" />
        <provider
            android:name="cpm.simplelogic.helper.DataProvider_Customers"
            android:authorities="cpm.simplelogic.helper.ContentProviderData_Customers"
            android:exported="true" />
        <!--
         <service android:name=".LocationService" />

                <receiver android:name="SendLocation">
              <intent-filter>
		        <action android:name="android.intent.action.BOOT_COMPLETED">
		        </action>
		     </intent-filter>

         </receiver>

            <service android:name="com.simplelogic.service.LocationServices" android:enabled="true"></service>
        -->
        <!--&lt;!&ndash; Production &ndash;&gt;-->
<!--        <meta-data-->
<!--        android:name="com.google.android.maps.v2.API_KEY"-->
<!--        android:value="AIzaSyDgJeUjxonciJgzLnzRs_R-Cud4yR4khFc" />-->

        <!-- UAT -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBMkkJmnBQPEZXIU3UiTprkTLxFS7zz5oU" />

        <!-- UAT FOR MACBBOK-->
<!--        <meta-data-->
<!--            android:name="com.google.android.maps.v2.API_KEY"-->
<!--            android:value="AIzaSyCZ0V_EyLti7MktVyiirh757xc1Uzwtb68" />-->

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" /> <!-- Defining our FirebaseMessagingService -->
        <service android:name="com.anchor.services.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>